<h3>{{question.author}}</h3>
<h3>{{question.content}}</h3>
<h4>{{question.notes}}</h4>
<br>

<button class="delete-question" {{action 'delete' question}}>Delete Question</button>


<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
