<h3>{{question.content}}</h3>
<h3 class="author">{{question.author}}</h3>
<h4>{{question.notes}}</h4>
<br>

<button class="delete-question btn btn-primary" {{action 'delete' question}}>Delete Question</button>


<!-- <h2>Answers</h2> -->
<div class="each-answer">
  <h3 class="answer-title">Answers:</h3>
  {{#each question.answers as |answer|}}
  <hr>
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</div>
