<h3>{{question.author}}</h3>
<h3>{{question.content}}</h3>
<h4>{{question.notes}}</h4>


{{update-question question=question update="update"}}
<button {{action 'delete' question}}>Delete Question</button>
