<h3 class="question-title">{{question.content}}</h3>
<h3 class="author">-- {{question.author}}</h3>
<h4>Extra Notes: {{question.notes}}</h4>
<br>

<div class="each-answer">
  <h3 class="answer-title">Answers:</h3>
  {{#each question.answers as |answer|}}
  <hr>
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
  <button class="delete-question btn btn-primary" {{action 'delete' question}}>Delete Question</button>
</div>
